@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
  }
  body {
    @apply bg-surface-secondary text-fg-primary font-sans;
    overscroll-behavior: none;
  }
}
